<section class="relative min-h-[80vh] w-full flex flex-col justify-center items-center overflow-hidden">
  
  <div 
    class="absolute inset-0 -z-10"
    style="
      background-size: 40px 40px;
      background-image: 
        linear-gradient(to right, var(--color-brand) 1px, transparent 1px),
        linear-gradient(to bottom, var(--color-brand) 1px, transparent 1px);
      mask-image: radial-gradient(ellipse at center, black, transparent 80%);
      opacity: 0.1;
    "
  >
  </div>

  <div class="max-w-4xl px-6 text-center">
    <h1 class="text-6xl font-sans font-bold tracking-tight ">
      Lee Williams
    </h1>
    <p class="mt-4 text-xl font-sans text-slate-600">
      Trade grade web solutions.
    </p>
  </div>
</section>