---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Minty"
  description="Minty helps teams build faster with a clean, modern workflow."
>
  <section>
    <h1>Welcome to Lee Williams</h1>
    <p>Trade grade web solutions.</p>
  </section>
</BaseLayout>
