---
import Hero from "../components/sections/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title=""
  description="I build lightning fast websites with a clean, modern workflow."
>
  <main>
    <Hero />
  </main>
</BaseLayout>
